#btn {
  border: 2px solid black;
  padding: 30px 60px;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 24px;
  font-family: sans-serif;
  transition: all 0.5s;
  text-decoration: none;
}

.buttonace {
  text-align: center;
  margin-top: 12%;
}

.button {
  margin-top: 30%;
  text-align: center;
}

#btn:before {
  width: 100%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: -100%;
  left: -100%;
  background: #212121;
  transition: all 0.5s;
  z-index: -1;
}

#btn:hover {
  color: #43A9AF;
}

#btn:hover:before {
  top: 0;
}

.buttonb {
  margin-top: 20%;
  text-align: center;
}

#btnb {
  border: 2px solid black;
  padding: 30px 73px;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 24px;
  font-family: sans-serif;
  transition: all 0.5s;
  text-decoration: none;
}

#btnb:before {
  width: 100%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: -100%;
  left: -100%;
  background: #212121;
  transition: all 0.5s;
  z-index: -1;
}

#btnb:hover {
  color: #43A9AF;
}

#btnb:hover:before {
  top: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  background-color: #f2f4ff;
}

.container {
  width: 400px;
  height: 490px;
  background-color: #fff;
  margin: 75px auto;
  border-radius: 1px;
  padding: 40px 50px;
  box-shadow: #43A9AF 0px 8px 24px;
}

/* top-header */
.top-header h3 {
  text-align: center;
  color: #43A9AF;
}

.top-header p {
  color: #cecfd3;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}

/* top-header */
/* form */
.user input,
.pass input {
  width: 100%;
  height: 35px;
  border: none;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  outline: none;
  padding: 0 40px;
}

::placeholder {
  color: #9ca5b4;
  font-size: 12px;
}

.user i,
.pass i {
  position: relative;
  top: 31px;
  right: -10px;
  color: #43A9AF;
}

/* form */
/* button */
.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn button {
  width: 100%;
  border: none;
  height: 35px;
  background-color: #43A9AF;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

/* button */
p.last {
  text-align: center;
  position: relative;
  bottom: 120px;
  font-size: 12px;
}

.titulo-main {
  font-style: italic;
  text-align: center;
  margin-top: 0%;
  font-family: "Lucida Grande";
  font-size: 30px;
  color: #43A9AF;
}

.circle {
  background: #43A9AF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
}

.padre {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}

.padreb {
  display: flex;
  flex-wrap: wrap;
}

.texto {
  margin-top: 120%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.apuestasoccer {
  margin-top: 10%;
}

.apuesta {
  margin-top: 35%;
}

.fontapuesta {
  font-size: 30px;
}

.rectangle {
  height: 20px;
  width: 30px;
  background-color: #43A9AF;
}

.navigation {
  width: 50px;
  margin-left: auto;
}

.navigation-aps {
  width: 90px;
  margin-left: auto;
}

.centerflex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu a {
  display: block;
  background-color: white;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}

.mainmenu a:hover {
  background-color: #ffffff;
}

.mainmenu li:hover .submenu {
  max-height: 150px;
}

.submenu a {
  background-color: #43A9AF;
}

.submenu a:hover {
  background-color: #43A9AF;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 1s ease-out;
  position: absolute;
}

body {
  background: #43A9AF;
}

.frame {
  width: 500px;
  height: 700px;
  background: white;
  overflow: auto;
  margin: 0 auto;
}

.titulo {
  font-style: italic;
  text-align: center;
  margin-top: 20%;
  font-family: "Lucida Grande";
  font-size: 30px;
  color: #43A9AF;
}

.subtitulo {
  text-align: center;
  margin-top: 15%;
  font-size: 19px;
  font-family: "Lucida Grande";
}

/*# sourceMappingURL=main.css.map */
